.navBar {
  height: 100vh;
  background-color: #292e2e;
  ul {
    padding-inline-start: 30px;
    list-style: urdu;
  }
  li {
    margin: 0.5em 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: ease 0.3s;
    display: flex;
    width: 100%;
    padding: 0.3em 1em;
    background: linear-gradient(90deg, transparent, #202223);
    &:hover {
      //   color: #88caff;
      background: linear-gradient(90deg, transparent, #88caff1a);
    }
  }
}
